* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Catamaran";
  box-sizing: border-box;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h4 {
  font-size: 5rem;
  line-height: 1.2;
}

/* utilities */
a {
  text-decoration: none;
  color: #fff;
  background: #333;
  padding: 10px;
  display: inline-block;
  border-radius: 20px;
  margin-top: 1rem;
}

/* Header */
#header-main {
  padding: 1rem 7rem;
  display: flex;
  justify-content: space-between;
}

#header-main .navbar ul {
  display: flex;
}

#header-main .navbar li {
  margin-left: 10px;
}
/* Showcase */
#section-showcase {
  padding: 1rem 7rem;
}

#section-showcase .showcase {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#section-showcase .showcase .showcase-text {
  padding-top: 11rem;
  line-height: 1.4;
}

/* Section-A */
#section-a .container {
  height: 98vh;
  background: url(../img/content.jpg) no-repeat center 100% / cover;
}
.section-a-text {
  padding: 10rem 10rem;
  text-align: center;
  color: white;
}
.section-a-text p {
  padding: 0 5rem;
}

/* Section-b gallery */

#section-b .img-container {
  display: grid;
  grid-template-areas:
    "img-1 img-1 img-2 img-2 img-3"
    "img-1 img-1 img-4 img-5 img-6";
}

#section-b .img-container .img-1 {
  grid-area: img-1;
}
#section-b .img-container .img-2 {
  grid-area: img-2;
}
#section-b .img-container .img-3 {
  grid-area: img-3;
}
#section-b .img-container .img-4 {
  grid-area: img-4;
}
#section-b .img-container .img-5 {
  grid-area: img-5;
}
#section-b .img-container .img-6 {
  grid-area: img-6;
}
#section-b .img-container img {
  width: 100%;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: #333;
  color: #ccc;
  height: 40vh;
  padding: 2rem 7rem;
}
.footer-container .heading {
  font-size: 1.5rem;
  font-weight: bold;
}

.footer-container p {
  color: white;
}

.footer-container .social-icons {
  color: white;
}

.footer-container .social-icons .fab {
  padding-left: 1rem;
}

/* Mobile site */

@media (max-width: 500px) {
  #header-main {
    padding: 1rem 1rem;
  }
  #header-main .navbar ul {
    padding-top: 1rem;
  }

  /* header */
  #section-showcase .showcase {
    grid-template-columns: 1fr;
  }
  #section-showcase {
    padding: 1rem 1rem;
    height: 100vh;
  }
  #section-showcase .showcase .showcase-text {
    padding-top: 1rem;
  }
  #section-showcase img {
    width: 70%;

    overflow: hidden;
    padding-bottom: 10rem;
  }

  /* Content */

  .section-a-text {
    padding: 8rem 1rem;
  }
  .section-a-text h4 {
    font-size: 3rem;
  }
  .section-a-text p {
    padding: 0 1rem;
  }
  #section-a .container {
    height: 70vh;
    padding-top: 20px;
  }
  /* Section B: Gallery Pics */
  #section-b .img-container {
    grid-template-areas:
      "img-1 img-2"
      "img-3 img-4"
      "img-5 img-6";
  }
  #section-b .img-container .img-2 {
    height: 100%;
  }
  /* Footer */
  .footer-container {
    padding: 2rem 1rem;
    grid-template-columns: 1fr 1fr;
    height: 30vh;
  }
  .footer-container .heading {
    font-size: 1rem;
  }
  .footer-container p {
    font-size: 0.6rem;
  }

  .footer-container .blog-post {
    display: none;
  }
  .footer-container .subscribe {
    display: none;
  }
}
